.root {
    background-color: rgb(21, 21, 21);
}

@font-face {
    font-family: neonFont;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.title {
    font-family: neonFont;
    font-size: 9vw;
    line-height: 4vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
}

.neon {
    color: #fb42ba;
    text-shadow: 0 0 3vw #f40ac5;
    animation: neon 2s ease infinite;
    -moz-animation: neon 2s ease infinite;
    -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #fa16bd, 0 0 3vw #fa16bd, 0 0 10vw #fa16bd, 0 0 10vw #fa16bd, 0 0 .4vw #ffd4f9, .5vw .5vw .1vw #ed5ad6;
        color: #ffd4f9;
    }
    50% {
        text-shadow: 0 0 .5vw #80166f, 0 0 1.5vw #80166f, 0 0 5vw #80166f, 0 0 5vw #80166f, 0 0 .2vw #80166f, .5vw .5vw .1vw #660e58;
        color: #ed5ad6;
    }
}

.neonTwo {
    color: #426DFB;
    text-shadow: 0 0 3vw #2356FF;
    animation: neonTwo 3s ease infinite;
    -moz-animation: neonTwo 3s ease infinite;
    -webkit-animation: neonTwo 3s ease infinite;
}

@keyframes neonTwo {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #69e4ff, .5vw .5vw .1vw #147280;
      color: #69e4ff;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
}

.createButton {
    width: 100%;
    background-color: #151C39;
    font-weight: bold;
    font-size: 200px;
    line-height: 1;
    height: 250px;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
    background-color: transparent;
    box-shadow: 
      0 1px 2px rgba(0,0,0, 0.6), 
      2px 1px 4px rgba(0,0,0, 0.3), 
      2px 4px 3px #082180, 
      0 0 7px 2px #146C80, 
      inset 0 1px 2px rgba(0,0,0, 0.6), 
      inset 2px 1px 4px rgba(0,0,0, 0.3), 
      inset 2px 4px 3px #082180, 
      inset 0 0 7px 2px #146C80;
    transition: 0.3s ease-in-out;
    border: 5px solid;
    border-radius: 10%;
}

.createButton:hover {
    /* box-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #69e4ff, .5vw .5vw .1vw #147280;
    background-color: #69e4ff; */
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #69e4ff, .5vw .5vw .1vw #147280;
    color: #69e4ff;
    border-color: #69e4ff;
    opacity: 1;
}

.card {
    color: white;
    font-size: 10px;
}

.cardImg {
    padding: 1px;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    cursor: pointer;
}
  
.imgContainer:hover .cardImg {
    opacity: 0.3;
}
  
